@model IEnumerable<EmpCrudCoreMvc.Models.NewEmpClass>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emppass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emppass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Empid }, new { @class="btn btn-primary"}) |
                @Html.ActionLink("Details", "Details", new {id=item.Empid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Empid}, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
